.ratio{
    position: relative;
    overflow: hidden;
    &.squared{
        >img{
            height: auto;
        }
    }
    &.object-fit-cover{
        img{
            object-fit: cover;
        }
    }
    &.object-fit-contain{
        img{
            object-fit: contain;
        }
    }
    >img{
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
    }
    &-4x4{
        padding-top: 100%;
    }
    &-3x4{
        padding-top: calc(100% / ( 3 / 4));
    }
    &-4x3{
        padding-top: calc(100% / ( 4 / 3));
    }
    &-16x9{
        padding-top: calc(100% / ( 9 / 16));
    }
    &-9x16{
        padding-top: calc(100% / ( 16 / 9));
    }
}