.hide{
    display: none;
}
body{
    box-sizing: border-box;
    &.show-popup{
        height: 100%;
        overflow: hidden;
    }

}
.line-height{
    &-sm{
        line-height: 1;
    }
    &-md{
        line-height: 1.2;
    }
    &-lg{
        line-height: 1.4;
    }
    &-xl{
        line-height: 1.5;
    }
    &-auto{
        line-height: normal;
    }
    &-none{
        line-height: 0;
    }
}
a,span{
    display: inline-block;
}