/*** Reset css***/
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}
div:focus, span:focus, applet:focus, object:focus, iframe:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus, a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus, del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus, small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus, u:focus, center:focus, dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus, fieldset:focus, form:focus, label:focus, legend:focus, table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus, article:focus, aside:focus, canvas:focus, details:focus, embed:focus, figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus, menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus, time:focus, mark:focus, audio:focus, video:focus {
  outline: none;
}

a, label, select, input, button {
  outline: none;
}
a:hover, a:focus, a:active, label:hover, label:focus, label:active, select:hover, select:focus, select:active, input:hover, input:focus, input:active, button:hover, button:focus, button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  line-height: 1.2;
  background: rgba(0, 0, 0, 0.05);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #000;
  font-size: 0.875rem;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, legend, input, textarea, button, table, tr, th, td, article, aside, footer, header, hgroup, nav, section, img, a, select {
  box-sizing: border-box;
  list-style: none;
  font-size: 0.875rem;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #E61E25;
}
a:hover {
  color: #0066CC;
}
a.disabled {
  pointer-events: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

header, footer, section {
  display: block;
}

input[type=time] {
  width: auto;
  background: #fff;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea, input {
  appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
  color: #000;
}

/*** End Reset css***/
.hide {
  display: none;
}

body {
  box-sizing: border-box;
}
body.show-popup {
  height: 100%;
  overflow: hidden;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.wrapper-content {
  margin-bottom: 24px;
}

.container {
  max-width: 1280px;
}

.line-height-sm {
  line-height: 1;
}
.line-height-md {
  line-height: 1.2;
}
.line-height-lg {
  line-height: 1.4;
}
.line-height-xl {
  line-height: 1.5;
}
.line-height-auto {
  line-height: normal;
}
.line-height-none {
  line-height: 0;
}

a, span {
  display: inline-block;
}

.m-0 {
  margin: 0px;
}

.m-05 {
  margin: 8px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mx-05 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-05 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-05 {
  margin-top: 8px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-05 {
  margin-left: 8px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-05 {
  margin-right: 8px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-05 {
  margin-bottom: 8px;
}

.m-1 {
  margin: 16px;
}

.m-15 {
  margin: 24px;
}

.mx-1 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx-15 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-15 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-1 {
  margin-top: 16px;
}

.mt-15 {
  margin-top: 24px;
}

.ml-1 {
  margin-left: 16px;
}

.ml-15 {
  margin-left: 24px;
}

.mr-1 {
  margin-right: 16px;
}

.mr-15 {
  margin-right: 24px;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-15 {
  margin-bottom: 24px;
}

.m-2 {
  margin: 32px;
}

.m-25 {
  margin: 40px;
}

.mx-2 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mx-25 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-25 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-2 {
  margin-top: 32px;
}

.mt-25 {
  margin-top: 40px;
}

.ml-2 {
  margin-left: 32px;
}

.ml-25 {
  margin-left: 40px;
}

.mr-2 {
  margin-right: 32px;
}

.mr-25 {
  margin-right: 40px;
}

.mb-2 {
  margin-bottom: 32px;
}

.mb-25 {
  margin-bottom: 40px;
}

.m-3 {
  margin: 48px;
}

.m-35 {
  margin: 56px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mx-35 {
  margin-left: 56px;
  margin-right: 56px;
}

.my-35 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-35 {
  margin-top: 56px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-35 {
  margin-left: 56px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-35 {
  margin-right: 56px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-35 {
  margin-bottom: 56px;
}

.m-4 {
  margin: 64px;
}

.m-45 {
  margin: 72px;
}

.mx-4 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-4 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mx-45 {
  margin-left: 72px;
  margin-right: 72px;
}

.my-45 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mt-4 {
  margin-top: 64px;
}

.mt-45 {
  margin-top: 72px;
}

.ml-4 {
  margin-left: 64px;
}

.ml-45 {
  margin-left: 72px;
}

.mr-4 {
  margin-right: 64px;
}

.mr-45 {
  margin-right: 72px;
}

.mb-4 {
  margin-bottom: 64px;
}

.mb-45 {
  margin-bottom: 72px;
}

.m-5 {
  margin: 80px;
}

.m-55 {
  margin: 88px;
}

.mx-5 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-5 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-55 {
  margin-left: 88px;
  margin-right: 88px;
}

.my-55 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.mt-5 {
  margin-top: 80px;
}

.mt-55 {
  margin-top: 88px;
}

.ml-5 {
  margin-left: 80px;
}

.ml-55 {
  margin-left: 88px;
}

.mr-5 {
  margin-right: 80px;
}

.mr-55 {
  margin-right: 88px;
}

.mb-5 {
  margin-bottom: 80px;
}

.mb-55 {
  margin-bottom: 88px;
}

.p-0 {
  padding: 0px;
}

.p-05 {
  padding: 8px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.px-05 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-05 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-05 {
  padding-top: 8px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-05 {
  padding-left: 8px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-05 {
  padding-right: 8px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-05 {
  padding-bottom: 8px;
}

.p-1 {
  padding: 16px;
}

.p-15 {
  padding: 24px;
}

.px-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-15 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-15 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-1 {
  padding-top: 16px;
}

.pt-15 {
  padding-top: 24px;
}

.pl-1 {
  padding-left: 16px;
}

.pl-15 {
  padding-left: 24px;
}

.pr-1 {
  padding-right: 16px;
}

.pr-15 {
  padding-right: 24px;
}

.pb-1 {
  padding-bottom: 16px;
}

.pb-15 {
  padding-bottom: 24px;
}

.p-2 {
  padding: 32px;
}

.p-25 {
  padding: 40px;
}

.px-2 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-25 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-25 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-2 {
  padding-top: 32px;
}

.pt-25 {
  padding-top: 40px;
}

.pl-2 {
  padding-left: 32px;
}

.pl-25 {
  padding-left: 40px;
}

.pr-2 {
  padding-right: 32px;
}

.pr-25 {
  padding-right: 40px;
}

.pb-2 {
  padding-bottom: 32px;
}

.pb-25 {
  padding-bottom: 40px;
}

.p-3 {
  padding: 48px;
}

.p-35 {
  padding: 56px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-35 {
  padding-left: 56px;
  padding-right: 56px;
}

.py-35 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-35 {
  padding-top: 56px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-35 {
  padding-left: 56px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-35 {
  padding-right: 56px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-35 {
  padding-bottom: 56px;
}

.p-4 {
  padding: 64px;
}

.p-45 {
  padding: 72px;
}

.px-4 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-4 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.px-45 {
  padding-left: 72px;
  padding-right: 72px;
}

.py-45 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.pt-4 {
  padding-top: 64px;
}

.pt-45 {
  padding-top: 72px;
}

.pl-4 {
  padding-left: 64px;
}

.pl-45 {
  padding-left: 72px;
}

.pr-4 {
  padding-right: 64px;
}

.pr-45 {
  padding-right: 72px;
}

.pb-4 {
  padding-bottom: 64px;
}

.pb-45 {
  padding-bottom: 72px;
}

.p-5 {
  padding: 80px;
}

.p-55 {
  padding: 88px;
}

.px-5 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-5 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-55 {
  padding-left: 88px;
  padding-right: 88px;
}

.py-55 {
  padding-top: 88px;
  padding-bottom: 88px;
}

.pt-5 {
  padding-top: 80px;
}

.pt-55 {
  padding-top: 88px;
}

.pl-5 {
  padding-left: 80px;
}

.pl-55 {
  padding-left: 88px;
}

.pr-5 {
  padding-right: 80px;
}

.pr-55 {
  padding-right: 88px;
}

.pb-5 {
  padding-bottom: 80px;
}

.pb-55 {
  padding-bottom: 88px;
}

.mx-auto, .container {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
  background: url("../images/icons/icon_system.png") 0 0 no-repeat;
  line-height: inherit;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.icon.icon-sm {
  background-size: 192px 72px;
  width: 16px;
  height: 16px;
}

.icon.icon-md {
  background-size: 288px 108px;
  width: 20px;
  height: 20px;
}

.icon {
  background-size: 384px 144px;
  width: 24px;
  height: 24px;
}

.icon-loading-circle {
  background: none;
}
.icon-loading-circle::after {
  content: "";
  width: calc(100% - 6px - 2px);
  height: calc(100% - 6px - 2px);
  margin: 2px;
  display: block;
  border: 2px solid rgba(39, 39, 42, 0.4);
  border-top-color: #27272a;
  border-radius: 100%;
  animation: spin 1.5s linear infinite;
}

.icon-menu-hamberger-line {
  background-position: -48px -24px;
}
.icon-user-line {
  background-position: 0px -72px;
}
.icon-user-solid {
  background-position: -24px -72px;
}
.icon-user_group-line {
  background-position: -48px -72px;
}
.icon-user_group-solid {
  background-position: -72px -72px;
}
.icon-eye-line {
  background-position: -96px -72px;
}
.icon-eye-solid {
  background-position: -120px -72px;
}
.icon-eye-line-slash {
  background-position: -144px -72px;
}
.icon-eye-solid-slash {
  background-position: -168px -72px;
}
.icon-share_v1-line {
  background-position: -192px -72px;
}
.icon-share_v1-solid {
  background-position: -216px -72px;
}
.icon-bell-line {
  background-position: -240px -72px;
}
.icon-bell-solid {
  background-position: -264px -72px;
}
.icon-bell-line-slash {
  background-position: -288px -72px;
}
.icon-bell-solid-slash {
  background-position: -312px -72px;
}
.icon-can_trash-line {
  background-position: -336px -72px;
}
.icon-can_trash-solid {
  background-position: -360px -72px;
}
.icon-heart-solid, .icon-heart-line.actived {
  background-position: -144px -96px;
}
.icon-heart-line {
  background-position: 0px -96px;
}
.bg-blue {
  background-color: #0066CC;
}

.bg-red {
  background-color: #E61E25;
}

.bg-orange {
  background-color: #F58220;
}

.bg-yellow {
  background-color: #f2c907;
}

.bg-green {
  background-color: #128840;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-black-blue {
  background-color: #2A313C;
}

.bg-gray {
  background-color: #EFEFEF;
}

.bg-gray-light {
  background-color: #EDEFF0;
}

.bg-gray-dark {
  background-color: #D8D8D8;
}

.bg-gray-black {
  background-color: #595959;
}

.bg-old-gray {
  background-color: #232323;
}

.ratio {
  position: relative;
  overflow: hidden;
}
.ratio.squared > img {
  height: auto;
}
.ratio.object-fit-cover img {
  object-fit: cover;
}
.ratio.object-fit-contain img {
  object-fit: contain;
}
.ratio > img {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.ratio-4x4 {
  padding-top: 100%;
}
.ratio-3x4 {
  padding-top: 133.3333333333%;
}
.ratio-4x3 {
  padding-top: 75%;
}
.ratio-16x9 {
  padding-top: 177.7777777778%;
}
.ratio-9x16 {
  padding-top: 56.25%;
}

.d-flex-fill > * {
  flex: 1 0 0;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-flex, .media {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex-wrap {
  flex-wrap: wrap;
}
.d-flex-nowrap {
  flex-wrap: nowrap;
}

.flex-fill {
  flex: 1 0 0;
}

.d-flex.align-items-normal, .align-items-normal.media {
  align-items: normal;
}
.d-flex.align-items-flex-start, .align-items-flex-start.media {
  align-items: flex-start;
}
.d-flex.align-items-flex-end, .align-items-flex-end.media {
  align-items: flex-end;
}
.d-flex.align-items-center, .align-items-center.media, .media.horizon-center {
  align-items: center;
}
.d-flex.align-items-stretch, .align-items-stretch.media, .media.horizon-stretch {
  align-items: stretch;
}
.d-flex.align-items-baseline, .align-items-baseline.media {
  align-items: baseline;
}
.d-flex.justify-content-normal, .justify-content-normal.media {
  justify-content: normal;
}
.d-flex.justify-content-flex-start, .justify-content-flex-start.media {
  justify-content: flex-start;
}
.d-flex.justify-content-flex-end, .justify-content-flex-end.media, .media.vertical-left, .media.vertical-right {
  justify-content: flex-end;
}
.d-flex.justify-content-center, .justify-content-center.media, .media.vertical-center {
  justify-content: center;
}
.d-flex.justify-content-space-between, .justify-content-space-between.media, .media.vertical-between {
  justify-content: space-between;
}
.d-flex.justify-content-space-around, .justify-content-space-around.media {
  justify-content: space-around;
}
.d-flex.justify-content-space-evenly, .justify-content-space-evenly.media {
  justify-content: space-evenly;
}

.media .media-body {
  flex: 1 0 0;
}

.btn {
  display: inline-block;
  font-weight: inherit;
  color: inherit;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  font-size: 0.75rem;
  padding: 4px 12px;
}

.btn.btn-md {
  font-size: 0.875rem;
  line-height: 24px;
  padding: 4px 12px;
}

.btn.btn-lg {
  font-size: 1rem;
  padding: 8px 12px;
}

.btn.btn-xl {
  font-size: 1rem;
  padding: 12px 16px;
}

.btn span {
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}
.btn.leading .icon ~ span {
  margin-left: 4px;
}
.btn.trailing span ~ .icon {
  margin-left: 4px;
}
.btn.btn-icon {
  line-height: 1;
  padding: 4px;
}
.btn.btn-icon.btn-md {
  padding: 8px;
}
.btn.btn-icon.btn-lg {
  padding: 12px;
}
.btn.btn-icon.btn-xl {
  padding: 16px;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn input[type=file] {
  display: none;
}
.btn.disabled, .btn:disabled {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  cursor: none;
}

.btn + .btn {
  margin-left: 12px;
}

.btn-block {
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 12px;
}

.btn.btn-blue {
  background-color: #0066CC;
  color: #fff;
}
.btn.btn-blue:hover {
  background-color: #0055aa;
}
.btn.btn-outline-blue {
  background-color: transparent;
  border-color: #0066CC;
  color: #0066CC;
}
.btn.btn-outline-blue:hover {
  color: #fff;
  background-color: #0066CC;
}
.btn.btn-red {
  background-color: #E61E25;
  color: #fff;
}
.btn.btn-red:hover {
  background-color: #cb171d;
}
.btn.btn-outline-red {
  background-color: transparent;
  border-color: #E61E25;
  color: #E61E25;
}
.btn.btn-outline-red:hover {
  color: #fff;
  background-color: #E61E25;
}
.btn.btn-orange {
  background-color: #F58220;
  color: #000;
}
.btn.btn-orange:hover {
  background-color: #e9710a;
}
.btn.btn-outline-orange {
  background-color: transparent;
  border-color: #F58220;
  color: #F58220;
}
.btn.btn-outline-orange:hover {
  color: #000;
  background-color: #F58220;
}
.btn.btn-yellow {
  background-color: #f2c907;
  color: #000;
}
.btn.btn-yellow:hover {
  background-color: #d1ae06;
}
.btn.btn-outline-yellow {
  background-color: transparent;
  border-color: #f2c907;
  color: #f2c907;
}
.btn.btn-outline-yellow:hover {
  color: #000;
  background-color: #f2c907;
}
.btn.btn-green {
  background-color: #128840;
  color: #fff;
}
.btn.btn-green:hover {
  background-color: #0e6a32;
}
.btn.btn-outline-green {
  background-color: transparent;
  border-color: #128840;
  color: #128840;
}
.btn.btn-outline-green:hover {
  color: #fff;
  background-color: #128840;
}
.btn.btn-white {
  background-color: #fff;
  color: #000;
}
.btn.btn-white:hover {
  background-color: #eeeeee;
}
.btn.btn-outline-white {
  color: #27272A;
  border-color: #fff;
}
.btn.btn-outline-white:hover {
  background-color: #fff;
}
.btn.btn-black {
  background-color: #000;
  color: #fff;
}
.btn.btn-black:hover {
  background-color: black;
}
.btn.btn-outline-black {
  background-color: transparent;
  border-color: #000;
  color: #000;
}
.btn.btn-outline-black:hover {
  color: #fff;
  background-color: #000;
}
.btn.btn-black-blue {
  background-color: #2A313C;
  color: #fff;
}
.btn.btn-black-blue:hover {
  background-color: #1c2128;
}
.btn.btn-outline-black-blue {
  background-color: transparent;
  border-color: #2A313C;
  color: #2A313C;
}
.btn.btn-outline-black-blue:hover {
  color: #fff;
  background-color: #2A313C;
}
.btn.btn-gray {
  background-color: #EFEFEF;
  color: #000;
}
.btn.btn-gray:hover {
  background-color: #dedede;
}
.btn.btn-outline-gray {
  color: #27272A;
  border-color: #EFEFEF;
}
.btn.btn-outline-gray:hover {
  background-color: #EFEFEF;
}
.btn.btn-gray-light {
  background-color: #EDEFF0;
  color: #000;
}
.btn.btn-gray-light:hover {
  background-color: #dbdfe1;
}
.btn.btn-outline-gray-light {
  color: #27272A;
  border-color: #EDEFF0;
}
.btn.btn-outline-gray-light:hover {
  background-color: #EDEFF0;
}
.btn.btn-gray-dark {
  background-color: #D8D8D8;
  color: #000;
}
.btn.btn-gray-dark:hover {
  background-color: #c7c7c7;
}
.btn.btn-outline-gray-dark {
  color: #27272A;
  border-color: #D8D8D8;
}
.btn.btn-outline-gray-dark:hover {
  background-color: #D8D8D8;
}
.btn.btn-gray-black {
  background-color: #595959;
  color: #fff;
}
.btn.btn-gray-black:hover {
  background-color: #484848;
}
.btn.btn-outline-gray-black {
  background-color: transparent;
  border-color: #595959;
  color: #595959;
}
.btn.btn-outline-gray-black:hover {
  color: #fff;
  background-color: #595959;
}

.btn-link {
  font-weight: normal;
  color: #0066CC;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-link:hover {
  color: #E61E25;
}
.btn-link.hover-underline:hover {
  text-decoration: underline;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
  width: 100%;
}

.checkbox {
  position: relative;
  padding: 2px;
  background-color: transparent;
  display: inline-block;
  line-height: 0;
}
.checkbox .checkmark {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 1px solid #DDDDE3;
  border-radius: 4px;
  background-color: #F5F5FA;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.15s ease;
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark {
  background-color: #E61E25;
  border-color: #E61E25;
}
.checkbox input:checked ~ .checkmark::after {
  display: inline-block;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
}
.checkbox input:disabled ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
}
.checkbox.indeterminate .checkmark {
  border-color: transparent;
  background-color: #E61E25;
}
.checkbox.indeterminate input ~ .checkmark::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox.indeterminate input:disabled ~ .checkmark {
  border-color: rgba(0, 0, 0, 0.05);
}
.checkbox.indeterminate input:disabled ~ .checkmark::after {
  background-color: rgba(0, 0, 0, 0.05);
}
.checkbox.indeterminate input:checked ~ .checkmark::after {
  border: 0;
  top: calc(50% + 2px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  box-sizing: border-box;
  margin: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .checkmark {
  background-color: #E61E25;
}
.switch input:checked + .checkmark .label-off {
  display: none;
}
.switch input:checked + .checkmark .label-on {
  display: inline-block;
}
.switch input:focus + .checkmark {
  box-shadow: 0 0 0px #E61E25;
}
.switch input:checked + .checkmark:before {
  -webkit-transform: translateX(calc(100% - 4px));
  -ms-transform: translateX(calc(100% - 4px));
  transform: translateX(calc(100% - 4px));
}
.switch .checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4cf;
  -webkit-transition: 0.235s;
  transition: 0.235s;
  border-radius: 30px;
}
.switch .checkmark:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.235s;
  transition: 0.235s;
  border-radius: 100%;
  margin: 2px;
}

.header {
  z-index: 1;
}
.header .header-top-navigation {
  padding-right: 16px;
  border-right: 1px solid #DDDDE3;
  margin-right: 16px;
}

#header .btn {
  padding: 4px;
}
#header .btn-link {
  font-weight: bold;
  color: #fff;
}
#header .btn-link:hover, #header .btn-link.actived {
  color: #E61E25;
}
#header .btn-header_bg {
  background-color: rgba(255, 255, 255, 0.15);
}
#header .btn-header_bg.actived {
  background-color: #910F17;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 10;
}
.popup .overlay {
  transition: 0.235s ease-in;
  opacity: 0;
}
.popup.popup-open {
  visibility: visible;
}
.popup.popup-open .overlay {
  opacity: 1;
}
.popup .popup_frame {
  transition: 0.235s ease-in;
}
.popup.popup-left .popup_frame {
  background-color: #fff;
  max-width: 426.6666666667px;
  width: 100%;
  height: 100vh;
  left: -100%;
  position: relative;
}
.popup.popup-left.popup-open .popup_frame {
  left: 0;
}
.popup.popup-right .popup_frame {
  background-color: #fff;
  max-width: 426.6666666667px;
  width: 100%;
  height: 100vh;
  right: -100%;
  position: relative;
}
.popup.popup-right.popup-open .popup_frame {
  right: -100%;
  transform: translateX(-100%);
}

@keyframes slide_left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.table-format.full-width {
  width: 100%;
}

.footer table th {
  font-weight: bold;
  color: #fff;
}
.footer table td, .footer table th {
  padding: 4px 8px;
}
.footer table td {
  color: #EBEBF0;
}
.footer table a {
  color: inherit;
}
.footer .table-format {
  max-width: 1280px;
  margin: auto;
}
.footer .footer-navigate:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=templates.css.map */
