/*** Reset css***/
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}
div:focus, span:focus, applet:focus, object:focus, iframe:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus, a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus, del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus, small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus, u:focus, center:focus, dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus, fieldset:focus, form:focus, label:focus, legend:focus, table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus, article:focus, aside:focus, canvas:focus, details:focus, embed:focus, figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus, menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus, time:focus, mark:focus, audio:focus, video:focus {
  outline: none;
}

a, label, select, input, button {
  outline: none;
}
a:hover, a:focus, a:active, label:hover, label:focus, label:active, select:hover, select:focus, select:active, input:hover, input:focus, input:active, button:hover, button:focus, button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  line-height: 1.2;
  background: rgba(0, 0, 0, 0.05);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #000;
  font-size: 0.875rem;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, legend, input, textarea, button, table, tr, th, td, article, aside, footer, header, hgroup, nav, section, img, a, select {
  box-sizing: border-box;
  list-style: none;
  font-size: 0.875rem;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #E61E25;
}
a:hover {
  color: #0066CC;
}
a.disabled {
  pointer-events: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

header, footer, section {
  display: block;
}

input[type=time] {
  width: auto;
  background: #fff;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea, input {
  appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
  color: #000;
}

/*** End Reset css***/
.icon {
  display: inline-block;
  background: url("../images/icons/icon_system.png") 0 0 no-repeat;
  line-height: inherit;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.icon.icon-sm {
  background-size: 192px 72px;
  width: 16px;
  height: 16px;
}

.icon.icon-md {
  background-size: 288px 108px;
  width: 20px;
  height: 20px;
}

.icon {
  background-size: 384px 144px;
  width: 24px;
  height: 24px;
}

.icon-loading-circle {
  background: none;
}
.icon-loading-circle::after {
  content: "";
  width: calc(100% - 6px - 2px);
  height: calc(100% - 6px - 2px);
  margin: 2px;
  display: block;
  border: 2px solid rgba(39, 39, 42, 0.4);
  border-top-color: #27272a;
  border-radius: 100%;
  animation: spin 1.5s linear infinite;
}

.icon-user-line {
  background-position: 0px -72px;
}
.icon-user-solid {
  background-position: -24px -72px;
}
.icon-user_group-line {
  background-position: -48px -72px;
}
.icon-user_group-solid {
  background-position: -72px -72px;
}
.icon-eye-line {
  background-position: -96px -72px;
}
.icon-eye-solid {
  background-position: -120px -72px;
}
.icon-eye-line-slash {
  background-position: -144px -72px;
}
.icon-eye-solid-slash {
  background-position: -168px -72px;
}
.icon-share_v1-line {
  background-position: -192px -72px;
}
.icon-share_v1-solid {
  background-position: -216px -72px;
}
.icon-bell-line {
  background-position: -240px -72px;
}
.icon-bell-solid {
  background-position: -264px -72px;
}
.icon-bell-line-slash {
  background-position: -288px -72px;
}
.icon-bell-solid-slash {
  background-position: -312px -72px;
}
.icon-can_trash-line {
  background-position: -336px -72px;
}
.icon-can_trash-solid {
  background-position: -360px -72px;
}
.icon-heart-solid, .icon-heart-line.actived {
  background-position: -144px -96px;
}
.icon-heart-line {
  background-position: 0px -96px;
}
.btn {
  display: inline-block;
  font-weight: inherit;
  color: inherit;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  font-size: 0.75rem;
  padding: 4px 12px;
}

.btn.btn-md {
  font-size: 0.875rem;
  line-height: 24px;
  padding: 4px 12px;
}

.btn.btn-lg {
  font-size: 1rem;
  padding: 8px 12px;
}

.btn.btn-xl {
  font-size: 1rem;
  padding: 12px 16px;
}

.btn span {
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}
.btn.leading .icon ~ span {
  margin-left: 4px;
}
.btn.trailing span ~ .icon {
  margin-left: 4px;
}
.btn.btn-icon {
  line-height: 1;
  padding: 4px;
}
.btn.btn-icon.btn-md {
  padding: 8px;
}
.btn.btn-icon.btn-lg {
  padding: 12px;
}
.btn.btn-icon.btn-xl {
  padding: 16px;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn input[type=file] {
  display: none;
}
.btn.disabled, .btn:disabled {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  cursor: none;
}

.btn + .btn {
  margin-left: 12px;
}

.btn-block {
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 12px;
}

.btn.btn-blue {
  background-color: #0066CC;
  color: #fff;
}
.btn.btn-blue:hover {
  background-color: #0055aa;
}
.btn.btn-outline-blue {
  background-color: transparent;
  border-color: #0066CC;
  color: #0066CC;
}
.btn.btn-outline-blue:hover {
  color: #fff;
  background-color: #0066CC;
}
.btn.btn-red {
  background-color: #E61E25;
  color: #fff;
}
.btn.btn-red:hover {
  background-color: #cb171d;
}
.btn.btn-outline-red {
  background-color: transparent;
  border-color: #E61E25;
  color: #E61E25;
}
.btn.btn-outline-red:hover {
  color: #fff;
  background-color: #E61E25;
}
.btn.btn-orange {
  background-color: #F58220;
  color: #000;
}
.btn.btn-orange:hover {
  background-color: #e9710a;
}
.btn.btn-outline-orange {
  background-color: transparent;
  border-color: #F58220;
  color: #F58220;
}
.btn.btn-outline-orange:hover {
  color: #000;
  background-color: #F58220;
}
.btn.btn-yellow {
  background-color: #f2c907;
  color: #000;
}
.btn.btn-yellow:hover {
  background-color: #d1ae06;
}
.btn.btn-outline-yellow {
  background-color: transparent;
  border-color: #f2c907;
  color: #f2c907;
}
.btn.btn-outline-yellow:hover {
  color: #000;
  background-color: #f2c907;
}
.btn.btn-green {
  background-color: #128840;
  color: #fff;
}
.btn.btn-green:hover {
  background-color: #0e6a32;
}
.btn.btn-outline-green {
  background-color: transparent;
  border-color: #128840;
  color: #128840;
}
.btn.btn-outline-green:hover {
  color: #fff;
  background-color: #128840;
}
.btn.btn-white {
  background-color: #fff;
  color: #000;
}
.btn.btn-white:hover {
  background-color: #eeeeee;
}
.btn.btn-outline-white {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-outline-white:hover {
  color: #000;
  background-color: #fff;
}
.btn.btn-black {
  background-color: #000;
  color: #fff;
}
.btn.btn-black:hover {
  background-color: black;
}
.btn.btn-outline-black {
  background-color: transparent;
  border-color: #000;
  color: #000;
}
.btn.btn-outline-black:hover {
  color: #fff;
  background-color: #000;
}
.btn.btn-black-blue {
  background-color: #2A313C;
  color: #fff;
}
.btn.btn-black-blue:hover {
  background-color: #1c2128;
}
.btn.btn-outline-black-blue {
  background-color: transparent;
  border-color: #2A313C;
  color: #2A313C;
}
.btn.btn-outline-black-blue:hover {
  color: #fff;
  background-color: #2A313C;
}
.btn.btn-gray {
  background-color: #EFEFEF;
  color: #000;
}
.btn.btn-gray:hover {
  background-color: #dedede;
}
.btn.btn-outline-gray {
  background-color: transparent;
  border-color: #EFEFEF;
  color: #EFEFEF;
}
.btn.btn-outline-gray:hover {
  color: #000;
  background-color: #EFEFEF;
}
.btn.btn-gray-light {
  background-color: #EDEFF0;
  color: #000;
}
.btn.btn-gray-light:hover {
  background-color: #dbdfe1;
}
.btn.btn-outline-gray-light {
  background-color: transparent;
  border-color: #EDEFF0;
  color: #EDEFF0;
}
.btn.btn-outline-gray-light:hover {
  color: #000;
  background-color: #EDEFF0;
}
.btn.btn-gray-dark {
  background-color: #D8D8D8;
  color: #000;
}
.btn.btn-gray-dark:hover {
  background-color: #c7c7c7;
}
.btn.btn-outline-gray-dark {
  background-color: transparent;
  border-color: #D8D8D8;
  color: #D8D8D8;
}
.btn.btn-outline-gray-dark:hover {
  color: #000;
  background-color: #D8D8D8;
}
.btn.btn-gray-black {
  background-color: #595959;
  color: #fff;
}
.btn.btn-gray-black:hover {
  background-color: #484848;
}
.btn.btn-outline-gray-black {
  background-color: transparent;
  border-color: #595959;
  color: #595959;
}
.btn.btn-outline-gray-black:hover {
  color: #fff;
  background-color: #595959;
}

.btn-link {
  font-weight: normal;
  color: #0066CC;
  text-decoration: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
  width: 100%;
}

/*# sourceMappingURL=templates.css.map */
