
// Spacing originals
$sys-spacing-sm: 8px;
$sys-spacing-md: 12px;
$sys-spacing-lg: 16px;
$sys-spacing-xl: 20px;

$margin-size: $sys-spacing-lg;

$spacer-sm: $sys-spacing-sm;
$spacer-md: $sys-spacing-md;
$spacer-lg: $sys-spacing-lg;

$spacers-sm: (
    0: 0,
    1: $spacer-sm * .25,    // 2px
    2: $spacer-sm * .5,     // 4px
    3: $spacer-sm * .75,    // 6px
    4: $spacer-sm,          // 8px
    5: $spacer-sm * 1.25,   // 10px
    6: $spacer-sm * 1.5,    // 12px
    7: $spacer-sm * 1.75,   // 14px
);

$spacers-md: (
    0: 0,
    1: $spacer-md * .25,    // 3px
    2: $spacer-md * .5,     // 6px
    3: $spacer-md * .75,    // 9px
    4: $spacer-md,          // 12px
    5: $spacer-md * 1.25,   // 15px
    6: $spacer-md * 1.5,    // 18px
    7: $spacer-md * 1.75,   // 21px 
);

$spacers-lg: (
    0: 0,
    1: $spacer-lg * .25,    // 4px
    2: $spacer-lg * .5,     // 8px
    3: $spacer-lg * .75,    // 12px
    4: $spacer-lg,          // 16px 
    5: $spacer-lg * 1.25,   // 20px
    6: $spacer-lg * 1.5,    // 24px
    7: $spacer-lg * 1.75,   // 28px
);

